<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="歡迎來到這裡,我將這個頁面建置為自己私人的工具網站,結合Wordpress後台api來實現快速搜尋的想法.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/dist/main.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="images/favicons/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="images/favicons/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="images/favicons/widetile.png" />
    <meta name="msapplication-square310x310logo" content="images/favicons/largetile.png" />
    <title>Hello world! I'm Ben. Welcome.</title>

</head>
<body>
    <div id="page" :class="pagemode">
         <!-- Navigation-->
        <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a id="pagelogo" ><img src="images/logo/logo.svg" alt=""></a>
                <div id="thinks">
                    <input type="text" v-model="thinks_action"  placeholder="Key in somethine?">
                </div>
            </div>
        </nav>
        <div id="pageBanner">
            <div class="welcome">
                Welcom, I'm Ben.
            </div>
            <div class="btn action-btn">ＳＴＡＲＴ</div>
        </div>
        <div id="result">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" v-for="(resultItem,key,index) in filterPost" v-if="tagdataload">
                        <div class="item">
                            <div class="title">
                               <a :href="resultItem.link" target="_blank">{{resultItem.title.rendered}}</a>
                            </div>
                            <div class="date">
                                <a :href="resultItem.link" target="_blank">{{resultItem.title.date_gmt}}</a>
                            </div>
                            <div class="picture" :class="{hascodepen : resultItem.codePen!=''}" >
                                <div class="inner">
                                    <a :href="resultItem.link" class="picture-link"  target="_blank">
                                        <img v-if="resultItem.featured_image_url" :src="resultItem.featured_image_url" alt="">
                                        <img v-else src="https://www.wentang.com.tw/wp-content/uploads/2020/06/favorite.jpg" alt="">
                                    </a>
                                    <a :href="resultItem.link" class="codepen-link" target="_blank" v-if="resultItem.codePen">
                                        <span class="marker"><i class="fab fa-codepen"></i></span>
                                        <iframe :src="'https://codepen.io/CKman/full/'+resultItem.codePen" frameborder="0"></iframe>
                                    </a>
                                </div>
                            </div>
                            <div class="description">
                                <a :href="resultItem.link" v-html="resultItem.excerpt.rendered" target="_blank"></a>
                            </div>
                            
                                <div class="tag-list" >
                                    <a class="tag-item" v-for="tagitem in resultItem.tags" :data-tagid="tagitem" v-if="tagdata.data[tagitem]" :href="tagdata.data[tagitem].link" target="_blank"># {{ tagdata.data[tagitem].name }} </a>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="scripts/main.js"></script>

</body>
</html>